<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
    <h1>WebSocket Example</h1>

    <form id="messageForm">
        <label for="message">Enter Message:</label>
        <input type="text" id="message" name="message" required autofocus>
        <button type="button" onclick="sendMessage()">Send Message</button>
    </form>

    <div id="messages"></div>

    <script src="{{url_for('static'),filename='js/websocket.js'}}"></script>
</body>
</html>

